    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">A_StRIveRs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">

            <li class="nav-item">
            <% if (title == "A_StRIveRs") { %>
              <a class="nav-link active" aria-current="page" href="/">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/">
            <% } %>
              <i class="fa-solid fa-house"></i> Home</a>
            </li>

            <li class="nav-item">
            <% if (title == "Sign Up") { %>
              <a class="nav-link active" href="/signup">
            <% } else { %>
              <a class="nav-link" href="/signup">
            <% } %>
              <i class="fa-solid fa-user-plus"></i> Sign Up</a>
            </li>

            <li class="nav-item">
            <% if (title == "Contact Us") { %>
              <a class="nav-link active" href="/contact">
            <% } else { %>
              <a class="nav-link" href="/contact">
            <% } %>
              <i class="fa-solid fa-phone-flip"></i> Contact Us</a>
            </li>
            
            <% if(typeof displayNAme == 'string' && displayName) { %>
              <li class = "navbar-text">
                <i class = "fas fa-lg fa-user"></i>
                Welcome, <% displayName %></li>
                <li class = "navitem">
                  <a href = "/logout" class = "nav-link"></a>
                    <i class = "fas fa-lg sign-out-alt"></i>Logout
                </li>
            <% } else { %>
              <li class = "navitem">
                <a href = "/login" class = "nav-link">
                  <i class = "fas fa-lg sign-in-alt"></i>Login</a>
              </li>
            <% } %>
          </div>
        </div>
      </div>
    </nav>