<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>

<div id="contact">
  <div class="container">
    <div class="row"> <!-- this is to divide the page in two sections first for information about contact email -->
      <div class="contact-left">
        <h1 class="sub-title">Contact Us</h1>
        <p><i class="fa-solid fa-envelope"></i> mohammad.alam1@ontariotechu.net / soha.saeed@ontariotechu.net</p>
        <p><i class="fa-solid fa-phone"></i> +1 2899430873</p>
      </div>
      </div>
     
<form>

  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your name">


  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">



  <label for="exampleFormControlTextarea1" class="form-label">message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="optional"></textarea>

<button>submit</button>  
  </form>
</div>
</div>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>