<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>
<main>
  <div class="header-text"> <!-- content on the home page -->
         <h1>Welcome to the A_StRIveRs<br></h1>  
            <p>Microsoft Excel <span>FREE</span> course.We offer free Microsoft Excel 7 days course. </p>
            <h1>We provide you with all basic and Advanced knowledge.<br></h1> <!-- The <span> tag is an inline container used to mark up a part of a text, or a part of a document.-->
            <p>If you want to get started <span>Sign Up</span> today!</p>
          </div>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/students/list" role="button"> Sign up now!</a>
    </p>
  </div>
</main>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>
